### # Lê o volume para verificar se o arquivo JSON está lá

In [ ]:
dbutils.fs.ls("/Volumes/workspace/default/arquivos-aula/Anac/V_OCORRENCIA_AMPLA.json")

### # Cria um DataFrame e realiza a leitura dos dados

In [ ]:
df = spark.read.json("/Volumes/workspace/default/arquivos-aula/Anac/V_OCORRENCIA_AMPLA.json")
display(df)

### # Cria uma tabela temporária com os dados selecionados em linguagem SQL

In [ ]:
pr = df.createOrReplaceTempView("ocorrencia_temp") # Cria uma tabela temporária chamada 'ocorrencia_temp'


pr = spark.sql('''
              
SELECT "Classificacao_da_Ocorrência" as Ocorrencia, -- Em colunas com acentuação é preciso incluir aspas e alterar para um nome sem acentuação.
        Descricao_do_Tipo as Tipo,
        Fase_da_Operacao as Operacao,
        Municipio,
        UF

FROM ocorrencia_temp

WHERE UF = 'PR' AND Fase_da_Operacao != "Pouso" -- No SQL 'diferente' também pode ser escrito com <>
            
               
''')

display(pr)